# Configuration file for param_tuning rqt plugin.
#
# {Name of parameter group}:
#   node: '/{ROS_node_name}'
#   params:
#     {param_name}:
#       description: '{Parameter description}'
#       scale: {Scale factor to use with parameters}  (optional, default is 1.0)
#     ...
#   (Everything below this is optional if you don't want to plot data)
#   plot_topics:
#     {Plot name}:
#       topic: '/{ROS_topic_name}/{field_name}'
#       scale: {Scale factor to use with data}  (optional, default is 1.0)
#     ...
#   plot_axis_label: '{Y Axis Label}'  (x axis is always 'Time (s)')
#   plot_axis_range: [min, max]  (optional, default is auto scaling)
# ...


Roll Angle to motor:
  node: '/autopilot'
  params:
    roll_kp:
      description: 'Roll angle P gain'
    roll_kd:
      description: 'Roll angle D gain'

Pitch Angle to motor:
  node: '/autopilot'
  params:
    pitch_kp:
      description: 'Pitch angle P gain'
    pitch_kd:
      description:  'Pitch angle D gain'

Yaw Angle to Motor:
  node: '/autopilot'
  params:
    yaw_kp:
      description: 'Yaw angle P gain'
    yaw_ki:
      description: 'Yaw angle I gain'
    yaw_kd:
      description: 'Yaw angle D gain'

Roll Rate Angle to motor:
  node: '/autopilot'
  params:
    roll_rate_kp:
      description: 'Roll angle P gain'
    roll_rate_kd:
      description: 'Roll angle D gain'

Pitch Rate Angle to motor:
  node: '/autopilot'
  params:
    pitch_rate_kp:
      description: 'Pitch angle P gain'
    pitch_rate_kd:
      description:  'Pitch angle D gain'

Yaw Rate Angle to Motor:
  node: '/autopilot'
  params:
    yaw_rate_kp:
      description: 'Yaw angle P gain'
    yaw_rate_kd:
      description: 'Yaw angle D gain'
  
Yaw to Rate:
  node: "/autopilot"
  params:
    yaw_to_rate_kp:
      description: 'Yaw to rate P gain'
    yaw_to_rate_kd:
      description: 'Yaw to rate D gain'
  
North Velocity:
  node: "/autopilot"
  params:
    vel_n_P:
      description: 'North velocity P gain'
    vel_n_I:
      description: 'North velocity I gain'
    vel_n_D:
      description: 'North velocity D gain'
  
East Velocity:
  node: "/autopilot"
  params:
    vel_e_P:
      description: 'East velocity P gain'
    vel_e_I:
      description: 'East velocity I gain'
    vel_e_D:
      description: 'East velocity D gain'
  
Down Velocity:
  node: "/autopilot"
  params:
    vel_d_P:
      description: 'Down velocity P gain'
    vel_d_I:
      description: 'Down velocity I gain'
    vel_d_D:
      description: 'Down velocity D gain'
  
North Position:
  node: "/autopilot"
  params:
    n_P:
      description: 'North position P gain'
    n_I:
      description: 'North position I gain'
    n_D:
      description: 'North position D gain'
  
East Position:
  node: "/autopilot"
  params:
    e_P:
      description: 'East position P gain'
    e_I:
      description: 'East position I gain'
    e_D:
      description: 'East position D gain'
  
Down Position:
  node: "/autopilot"
  params:
    d_P:
      description: 'Down position P gain'
    d_I:
      description: 'Down position I gain'
    d_D:
      description: 'Down position D gain'
  
Trajectory Controller North:
  node: "/trajectory_follower"
  params:
    u_n_kp:
      description: 'North position P gain'
    u_n_ki:
      description: 'North position I gain'
    u_n_kd:
      description: 'North position D gain'

Trajectory Controller East:
  node: "/trajectory_follower"
  params:
    u_e_kp:
      description: 'East position P gain'
    u_e_ki:
      description: 'East position I gain'
    u_e_kd:
      description: 'East position D gain'

Trajectory Controller Down:
  node: "/trajectory_follower"
  params:
    u_d_kp:
      description: 'Down position P gain'
    u_d_ki:
      description: 'Down position I gain'
    u_d_kd:
      description: 'Down position D gain'
